{
    "alt-speed-up": 50,
    "alt-speed-down": 200,
    "speed-limit-down": 5000,
    "speed-limit-down-enabled": true,
    "speed-limit-up": 100,
    "speed-limit-up-enabled": true,
    "start-added-torrents": true,
    "trash-original-torrent-files": true,
    "watch-dir": "{{ download_dir }}",
    "download-dir": "{{ download_dir }}",
    "umask": 2,
    "watch-dir-enabled": true,
    "rpc-whitelist":  "192.168.1.*, 192.168.0.*",
    "ratio-limit": 1.6,
    "ratio-limit-enabled": true
}